# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
env/

# Django
db.sqlite3
*.log
staticfiles/

# Environment variables and secrets
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db